:root {
  --darkblue: #1A485B;
  /* --blue: #4D7381; */
  --salmon: #FFC7A7;
  --lightsalmon: #FFEDE1;
  --lightblue: #C9E5F0;
  --brown: #B07B4F;
} 


html, body {
  background-color: var(--darkblue);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text-end {
  text-align: end;
}